
html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
	font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}
.loader_bg{
	position: fixed;
	z-index: 999999;
	background: #fff;
	width: 100%;
	height: 100%;
}
.loader {
	border: 0 solid transparent; 
	border-radius: 50%;
	width: 150px;
	height: 150px;
	position: absolute;
	top: calc(50vh-75px);
	left:calc(50vw-75px);
  }
.loader:before , .loader:after {
	content: '';
	border:1em solid #ff5733;
	border-radius: 50%;
	width: inherit;
	height: inherit;
	position: absolute;
	top:0;
	left: 0;
	animation: loader 1s linear infinite;
	opacity: 0;
}
.loader:before{
	animation-delay: .5s;

}
@keyframes loader{
	0%{
		transform: scale(0);
		opacity: 0;

	}
	50%{
		opacity: 1;
	}
	100%{
		transform: scale(1);
		opacity: 0;
	}
}
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
						
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	font-family: 'Poppins', sans-serif;
}

a:hover {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
	color: black;
}



/*-- header --*/

header {
    position: absolute;
    z-index: 9;
    width: 100%;
}

nav { 
	margin:0;
	padding: 0;
}


#logo a {
	float: left;
    font-size: .8em;
    display: initial;
    margin: 0;
    letter-spacing: 0px;
    color:black;
    font-weight: 600;
    padding: 3px 0;
    border: none;
}




nav:after {
	content:"";
	display:table;
	clear:both;
}

nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}

nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	}

nav a {
    color: black;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-left: 0;
    padding-right: 0;
	padding: 10px 0;
    font-size: 15px;
}


nav ul li ul li:hover { background: #f8f9fa; }

nav a:hover { 
	color: #ddd;
}

.menu li.active  a{ 
	color: green;
}
.menu button {
	border-radius: 80%;
}

.checkbtn{
	font-size: 30px;
	color:black;
	float: right;
	line-height: 45px;
	margin-right: 30px;
	margin-left: 20px;
   cursor:pointer;
}
#check{
	display: none;
}
.checkbtn{
	display: none;
}
@media (max-width: 952px){
	
#logo a {
	float: left;
    font-size: .8em;
   padding-left: 50px;
}

nav ul li {
	font-size: 16px;
	}
}
@media (max-width: 858px){
   .checkbtn{
	   display: block;
   }
   
   nav ul{
	   list-style-type: none;
	   position: absolute;
	   width: 47%;
       height: 60vh;
	   top:80px;
	   left:100%;
	   text-align: center;
	   background:rgb(233, 233, 233);
	   transition: all .5s;
   }
   nav ul li{
	   display: block;
	   margin:20px 20px;
	   line-height: 20px;
   }
   nav ul li a{
	   font-size: 20px;
   }
   #check:checked ~ ul{
	   right: 0;
   }
   nav a{
	  margin: 5px 5px;
   }
}

.agileits-services {
	position: relative;
	
}

.agileits-services-grids {
	text-align: center;
	padding-left: 8%;
	padding-right: 0%;
}

.agileits-services-grids h4 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 1.5em;
    font-weight: 600;
}
.agileits-services-grids h5 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 1.5em;
    font-weight: 600;
}


.titlu h3{
	text-align: center;
	color:green;
}
.titlu a{
	
	color: green;
	
}
.titlu h4,p{
	text-align: left;
	
}
.titlu{
	text-align: center;
	padding-left: 14%;
	padding-right: 10%;
	
}
.titlu u:active{
	color:yellow;
	
}
.btn.active, .btn:active {
    background: yellow;
	text-decoration: none;
	
	
}
.btn{
	border: none;
}
.column {
	float: left;
	width: 50%;
	padding: 50px;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
	color: white;
  }
  
  .containerTab {
	padding: 20px;
	color: white;
  }
  .incearca h2{
	  text-align: center;
  }
  .incearca{
	  padding-top: 7%;
	  padding-bottom: 6%;
	  background-color: #f5f5f5;
	  text-align: center;
  }
  .incearca button{
	  
	  color:white;
	  border-radius: 40%;
  }
  

	.about h3 {
		font-size: 22px;
	}
	.solicita h7{
		color:green;
	}
	.about h4{
		color: green;
	}
	.about button{
		color: white;

	}
	.flexibil h7{
		color:orange;
	}
	h4.heading {
		font-size: 27px;
	}
	.stats-right {
		padding: 2em 0;
	}
	


/*--footer--*/

.footer_section_1its{
	background:rgb(241, 241, 241);
	
}

.footer_section_1its h3, .footer_section_1its h2 {
    font-size: 22px;
    color: #ddd;
    margin-bottom: 20px;
    letter-spacing: 2px;
	text-transform: uppercase;
	
}



ul.social_section_1info li {
    display: inline-block;
}

ul.social_section_1info {
    margin-top: 15px;
}

ul.social_section_1info a {
    color: #030303;
    margin-right: 18px;
    font-size: 14px;
}



/*--//footer--*/

